<section class="footer | py-5 py-lg-2" id ="footer">
    <div class="container">
        <div class="d-lg-flex flex-lg-row justify-content-between align-items-lg-center">
            <a class=" d-flex  align-items-center justify-content-center my-9 my-lg-0 fw-bold text-white" href="./index.html">

                <img  class ="p-1 "src="{{'images/footer-logo.png'}}">
                <span class=" text-black ps-2 fs-2">FindTrend</span>
            </a>
    
            <ul class="list-unstyled   mb-0 d-flex flex-column flex-lg-row align-items-center  py-3">
                <li class="nav-item mx-3  py-2 py-lg-0  ">
                    <a class="nav-link | text-black  text-capitalize " href="#">privacy policy</a>
                </li>
                <li class="nav-item mx-3 py-2 py-lg-0 ">
                    <a class="nav-link | text-black  text-capitalize " href="#">terms and conditions</a>
                </li>
                <li class="nav-item mx-3 py-2 py-lg-0 ">
                    <a class="nav-link | text-black  text-capitalize " href="#">contact us</a>
                </li>
                <li class="nav-item mx-3 py-2 py-lg-0 ">
                    <a class="nav-link | text-black  text-capitalize " href="#">careers</a>
                </li>
            </ul>
        </div>
      
    </div>
</section>