<section class="hero-section | py-5 overflow-hidden" id ="about">

    <div class="container">
        <div class="col-12 col-md-9 mx-auto text-center my-5 ">


            <!-- hero header start -->
            <h1 class="fw-bold display-2 text-white my-4 ">Minimize the tabs.<br>Find the Trends</h1>
            <small class="small fs-5 text-white py-4 px-5 text-opacity-50">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit mollitia animi accusamus corporis
                tenetur fai vol
            </small>

            <!-- hero header end -->

            <!-- get started cta start -->
            <div class="header-cta | d-flex justify-content-center my-3 align-items-center">
                <button class="btn btn-primary rounded-pill py-2 px-3 fw-semibold ms-lg-3"> Get started 🔥</button>
                <picture class ="d-none d-lg-block ms-3 mb-3">
                    <img src="./../../images/img-hero-a.png"
                </picture>
            </div>

            <!-- get started cta end -->



            <!-- hero feeds start-->
            <div class ="hero-feeds mt-3 mb-5">
                <div class="twitter | d-flex   text-white p-3">
                    <i class="bi bi-twitter text-info me-2" ></i>
                    twitter feed goes here
                </div>
                <div class="pinterest | d-flex   text-white p-3 mt-3">
                    <i class="bi bi-pinterest text-danger me-2"></i>
                    pinterest feed goes here
                </div>
                <div class="facebook | d-flex   mt-3 text-white p-3">
                    <i class="bi bi-facebook text-info me-2 "></i>
                    facebook feed goes here
                </div>
                <div class=" dribbble | d-flex   text-white p-3 mt-3">
                    <i class="bi bi-dribbble text-dribbble me-2"></i>
                    dribbble feed goes here
                </div>
            </div>
            <!-- hero feeds end-->


        </div>
    </div>

</section>    