<!-- longest section start -->
<section class="py-md-8 bg-white " id ="about">
    <div class="container">

        <!-- stand alone descripton start -->
        <p class="display-4 text-black fw-semibold  px-0 px-md-2 lh-sm">
            Findtrend helps you to increase your productivity and reduce your computer's memory load, <span
                class="text-black opacity-75">an application that can fulfill your daily browsing needs.</span>
        </p>

        <!-- stand alone decription end-->



    </div>
   

  
</section>
<!-- longest section end -->