<header role="banner" class=" header ">
    <nav class="navbar navbar-expand-lg  ">
        <div class="container">
            <a class="navbar-brand | d-flex align-items-center fw-bold text-white" href="./index.html">

                <img src="./../../images/find-trend-logo.png">
                <span class="d-none d-lg-inline-block ps-2">FindTrend</span>
            </a>
            <button class="navbar-toggler  " type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"    >

                <i class="bi text-white fs-2"></i>
                
             
             
            </button>
            <div class="collapse navbar-collapse | " id="navbarSupportedContent">
                <ul class="navbar-nav |  flex-grow-1  justify-content-center mb-2 mb-lg-0 align-items-center   ">

                    <li class="nav-item mx-2 my-1 my-md-0 bg-transparent">
                        <a class="nav-link | text-white" href="#about">About</a>
                    </li>
                    <li class="nav-item mx-2  my-1 my-md-0bg-transparent">
                        <a class="nav-link | text-white" href="#howItWork">how it work</a>
                    </li>
                    <li class="nav-item mx-2 my-1 my-md-0 bg-transparent">
                        <a class="nav-link | text-white" href="#pricing">Pricing</a>
                    </li>
                    <li class="nav-item mx-2 my-1 my-md-0 bg-transparent">
                        <a class="nav-link | text-white" href="#solution">Solution</a>
                    </li>
                    <li class="nav-item mx-2 my-1 my-md-0 bg-transparent">
                        <a class="nav-link | text-white" href="#features">Features</a>
                    </li>
                </ul>
                <div class="  |   d-flex flex-column align-items-center   mx-auto mx-lg-0 flex-lg-row | " role="group"
                    aria-label="Basic outlined example">
                    <a href = "#contact" type="button" class=" btn  | my-md-1 mx-md-2 rounded-pill px-5  px-lg-3  text-white  ">Login</a>
                    <a href = "#contact" type="button"
                        class=" btn  | my-md-1 mx-md-2  px-5 px-lg-3 text-bg-light rounded-pill">Register</a>
                </div>

                <b class =" overlay | d-block d-lg-none"></b>
            </div>

        </div>
    </nav>
</header>