

<!-- new tab section start -->
<section class="new-tabs-section | py-md-9 bg-primary" id ="howItWork">
    <div class="container">

        <!-- new tab header start -->
        <h2 class="display-2 fw-bold text-center my-5 text-black">
            Open new tabs is Sh*t
        </h2>
        <!-- new tab header end -->

        <!-- new tab content start -->
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 ">
                <div class="d-flex flex-column flex-md-row justify-content-center align-items-center ">


                    <!-- flooting images with arrow start -->


                    <picture class ="align-self-start d-none d-md-block align-items-md-center"><img src="{{'images/new-tab-left.png'}}" alt="tab left"></picture>
                    <picture class ="align-self-end  d-block d-md-none align-items-md-center"><img src="{{'images/arrow-to-bottom-mobile.png'}}" alt="tab left"></picture>

                    <!-- only tab section start-->
                    <div class="only-tab | p-5 px-8 bg-white mx-3 rounded-3">
                        <div class="logo-tab | d-flex  justify-content-center  text-white p-2 align-items-center rounded-3 fs-3 overflow-hidden">
                            <img src="{{'images/find-trend-logo.png'}}" alt="" class ="d-block mx-2">
                           find trend feeds 
                        </div>
                    </div>

                    <!-- only tab section end-->
                    <picture class ="d-none d-md-block"><img src="{{'images/new-tab-right.png'}}" alt="tab right"></picture>
                    <picture class ="d-block d-md-none align-self-start"><img src="{{'images/arrow-to-top-mobile.png'}}" alt="tab right"></picture>

                    <!-- flooting images with arrow end -->
                </div>

                <p class="small px-md-5 fw-semibold text-center my-5 ">
                    A solution for your browser tabs and don’t make your device get slower over time. Get <br class ="d-none d-md-block"/> ease and faster to discover a trend with just one tab.
                </p>
            </div>
        </div>
        <!-- new tab content end-->
    </div>
</section>

<!-- new tab section End-->