<section class="mp-md-15 bg-white" id ="solution">
    <!-- Logos section  start -->
    <div class="container py-3 ">

        <h2 class="mt-6 mb-2 text-black fw-semibold display-5 text-center py-3">Findtrend make +1000 Startup grow</h2>
        <div class="row g-2 g-md-5">
            {% for i in range(1, 17) %}
            <picture class="col-6 col-md-3 ">
                <img src="./images/logos/{{i}}.png" class="img-fluid" alt="logos ">
                {# // changed from ./../  #}
            </picture>
            {% endfor %}
        </div>
    </div>
    <!-- Logos section  end -->
</section>